.feed {
  width: 90vw;
}

.heading {
  text-align: center;
}
.actions #addBtn {
  background-color: var(--contrast);
  color: var(--light);
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  font-size: 0.8em;
}
@media screen and (min-width: 900px) {
  .feed {
    width: 60vw;
  }
  .actions button {
    padding: 2%;
  }
}
