:root {
  --light: #fff4e0;
  --dark: #4d4d4d;
  --blue: #146c94;
  --green: #698269;
  --red: #ad4f4f;
  --contrast: #E0B2BA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--blue);
  color: var(--light);
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover, a:active, a:focus{
  color:var(--dark);
  font-style: italic;
}
li {
  list-style: none
}

input,
button {
  padding: 3%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}