@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
:root {
  --light: #faf4e8;
  --dark: #4d4d4d;
  --blue: #146c94;
  --green: #698269;
  --red: #b84040;
  --contrast: #fe5f55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(to bottom left, var(--green), var(--light));
  color: var(--light);
}

a {
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
}
button {
  cursor: pointer;
}

li {
  list-style: none;
}

input,
textarea,
button {
  padding: 3%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
h3,
h4 {
  color: var(--dark);
}
