.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 100vh;
}
.section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.actions {
  margin: 30px 0;
}
.actions:hover {
  text-decoration: underline;
}
@media screen and (min-width: 500px) {
  .section {
    font-size: 1.5rem;
  }
}
