.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  padding: 20px;
  width: 100%;
  margin-bottom: 80px;
}

.navbar {
  width: 100%;
  margin: 30px 0;
}

.navlist {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  align-items: flex-start;
  justify-content: space-between;
}
.navItem {
  font-size: 1rem;
}

.logo {
  font-size: 2em;
  font-weight: bolder;
}

.dropdownItems {
  display: none;
  position: absolute;
  background-color: var(--dark);
  height: fit-content;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 6;
  font-size: 1.3em;
}
.dropdownItems .navItem {
  margin: 20px 0;
}
.navItem > .dropBtn {
  color: var(--light);
  font-weight: bold;
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 1rem;
  display: inline-block;
}
.account {
  font-size: 1.3rem;
  display: inline-block;
}
.dropdown:hover .dropdownItems {
  display: block;
}

@media screen and (min-width: 500px) {
  .logo {
    font-size: 3em;
  }
  .navlist {
    width: 65%;
    margin: 0 auto;
  }

  .dropdownItems {
    padding: 20px;
  }

  .navItem > .dropBtn {
    font-size: 1.5em;
  }
  .navItem a,
  .navItem > .dropBtn {
    font-size: 1.5em;
    position: relative;
    padding: 0 20px;
  }
  .navItem a::before,
  .navItem > .dropBtn::before {
    margin: 0;
    padding: 0;
  }
  .navItem a::after,
  .navItem > .dropBtn::after {
    content: "";
    position: absolute;
    background-color: var(--contrast);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
  }

  .navItem a:hover::after,
  .navItem > .dropBtn:hover:after {
    width: 100%;
  }
}
