.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .form > h2{
    margin-bottom:
      20px; 
  }
  .form > input, .form > button {
    padding: 3%;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .form > button{
    width: 60%;
    margin:  0 auto;
  }

  @media screen and (min-width: 765px){
    .form{
      width: 60%;
    }
  }