.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .form > h2{
    margin-bottom:
      20px; 
  }

  .form > button{
    width: 60%;
    margin:  0 auto;
  }

  @media screen and (min-width: 765px){
    .form{
      width: 40%;
    }
   .form > input, .form > button{
    padding:1.2%;
    font-size: 1.6rem;
    border:0.2px solid var(--dark);
    }
  }